.formWrapper{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    background-color: #D9DBF1;
}

.formField{
    display: flex;
    flex-direction: column;
    color: #0B3948;
    font-size: 1.1rem;
}

.formField select{
   padding: .5rem;
   color: #0B3948;
   font-weight: 550;
   border:none;
   border-radius: .3rem;
   outline-color: #0B3948;
}


.formField option{
    font-weight: 500;
}


.formWrapper button{
    border: none;
    border-radius: .3rem;
    padding: .5rem;

    background-color: #0B3948;
    color: rgba(255,255,255);
 
    font-weight: 600;
    text-transform: uppercase;

    cursor: pointer;

    margin-top: 1rem;
}

.formWrapper button:hover{
    transform: scale(1.1);
}