.result {
    background-color: #D9DBF1;
    padding: .5rem 2rem;    
}

table {
    width: 100%;
    border-collapse: collapse;   
    background-color: #ACB0BD; 
}

table th, td{
    padding: .5rem;
    border-bottom: 1px solid #416165;
    text-align: left;
    text-transform: uppercase;
}

table thead tr:first-child, 
table tbody tr:last-child{
    background-color: #416165;
    color:rgba(255,255,255);
    font-size: 1.2rem;
    font-weight: 700;
    
}

table thead td{
    text-align: center;
}
