.App{
    display: flex;
    flex-direction: column; 
    align-items: center;

    height: 100vh;
    background-color: #eee;

    gap: 1rem;
}

.container{
    max-width: 500px;
    transition: all .3s;
}

